*{
    margin: 0;
    padding: 0;
    font-family: 'Arial',sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 60%;
    max-width: 450px;
    background: linear-gradient(135deg,#00feed,#5b548a);
    color: white;
    backdrop-filter: blur(10px);
    margin: 100px auto 0;
    border-radius :20px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height:60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
     border: 0;
     outline: 0;
     background: #ebfffc;
     width: 60px;
     height: 60px;
     cursor: pointer;
     border-radius: 50%;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 100px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    margin-top: -6px;
    font-size: 28px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 450px;
    width: 100%;
   
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
    color: white;
    
}
.details h2{
    text-align: center;
}
.detail-title{
    padding-top: 25px;
    color: #fff;
}
.date-time {
    font-size: 16px;
    color:#fff;
}

.day {
    font-size: 14px;
    color: #fff;
}